{% extends "prototypes/outpatient/app-layout.html" %}

{% set hub = "Messages" %}

{% set backLink = true %} 

{% set pageHeading = "Messages" %}
{% set pageDescription = "Message" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
            <title>Messsage</title>
            <h1 class="nhsuk-heading-l">GP recommendation</h1>
          </div>
          <p class="nhsuk-u-margin-bottom-5 nhsuk-secondary-text-color" style="color: gray;">Sent 3 May at 12:05pm</p>

          <p class="nhsuk-u-margin-bottom-5">A GP has reviewed your symptoms and has recommended that you book a test</p>

          <p><a style="text-decoration: underline;" href="gp-recommendation.html">See recommendation and book test</a></p>

          <hr>
          
          <p><a style="text-decoration: underline;">Flag message</a></p>

    </div>
  </div>
{% endblock %}
