<!DOCTYPE html>
{% extends 'prototypes/community-health/community-health-layout.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Ask to reschedule your appointment" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

     {{ summaryList({
        classes: "nhsuk-u-margin-bottom-4",
        rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: "Tuesday 4 November 2025"
          }
        },
        {
          key: {
            text: "Time"
          },
          value: {
            html: "10:30am"
          }
        },
                  {
            key: {
              text: "Appointment type"
            },
            value: {
              html: "Cardiology"
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Northern General Hospital, Entrance G, <br> Sheffield, S5 7AU"
            }
          },
          {
            key: {
              text: "Clinician"
            },
            value: {
              html: "Ahmet Kaya <br> Cardiologist"
            }
          }
        ]
      }) }}

    <!-- FIELDSET COMPONENTS -->
    <div >
      <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-4">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-3">
            How a request works
          </h1>
        </legend>
        <p>The booking team will review and process your request to reschedule. This will take approximately 48 hours.
            <br> 
            <br>
            The original appointment may remain visible during that time.
        </p>

    </fieldset>

    <!-- Button -->
      <a href="request-all-dates-and-times.html"
        role="button"
        class="nhsuk-button nhsapp-button">
        Start
      </a>
    </div>  

      <!-- FIELDSET COMPONENTS -->
    <div>
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Get help with this task
          </h1>
        </legend>
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__legend">Contact the booking team on <a href="">0XXXX XXX XXX</a></h3>
        </legend>
      </fieldset>
    </div>

        <!-- FOOTER COMPONENT-->
    <footer role="contentinfo" style="width: 100% !important;">
      <div class="nhsuk-footer-container">
        <div class="nhsuk-width-container">
          <h2 class="nhsuk-u-visually-hidden">Support links</h2>
          <div class="nhsuk-footer">
            <ul class="nhsuk-footer__list">
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
              </li>
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
              </li>
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
              </li>
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
    </div>
  </div>

  {% endblock %}
