<!DOCTYPE html>
{% extends 'prototypes/mental-health/mental-health-layout.html' %}

{% set hub = "Services" %}
{% set backLink =true %} 
{% set pageHeading = "Request new date and time" %}

{% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {% include "components/provider-banner/include.html" %}
    
        <!-- MAIN FORM WRAPPING ALL CHECKBOX INPUTS -->
    <form method="post" action="reschedule-review" novalidate>   {# Form posts to next page; triggers autoStoreData if enabled #}

      {# MONDAY CHECKBOX GROUP #}
      {{ checkboxes({
        idPrefix: "question-0",                        
        name: "mary-monday",                          
        fieldset: {
          legend: {
            text: "Request all dates and times that you can attend", 
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: {
          text: "Monday 7 July 2025"                  
        },
        items: [
          { value: "Anytime this day", text: "Anytime this day" },
          { value: "12:30pm", text: "12:30pm" },
          { value: "1:00pm", text: "1:00pm" },
          { value: "1:30pm", text: "1:30pm" }
        ]
      }) }}

      {# TUESDAY CHECKBOX GROUP #}
      {{ checkboxes({
        idPrefix: "question-1",
        name: "mary-tuesday",                         
        hint: {
          text: "Tuesday 8 July 2025"
        },
        items: [
          { value: "Anytime this day", text: "Anytime this day" },
          { value: "12:30pm", text: "12:30pm" },
          { value: "1:00pm", text: "1:00pm" },
          { value: "1:30pm", text: "1:30pm" }
        ]
      }) }}


          <!-- BUTTON COMPONENT -->
          <div>
            <a class="nhsuk-button nhsapp-button nhsapp-button" data-module="nhsuk-button" type="submit" href="reschedule-review.html">
              Continue
            </a>
          </div>
        </form>
    
    
        <div>
          <!-- FOOTER COMPONENT-->
          <footer role="contentinfo">
            <div class="nhsuk-footer-container">
              <div class="nhsuk-width-container">
                <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                <div class="nhsuk-footer">
                  <ul class="nhsuk-footer__list">
                    <li class="nhsuk-footer__list-item">
                      <a class="nhsuk-footer__list-item-link" href="#"
                        >Terms of use</a
                      >
                    </li>
                    <li class="nhsuk-footer__list-item">
                      <a class="nhsuk-footer__list-item-link" href="#"
                        >Privacy policy</a
                      >
                    </li>
                    <li class="nhsuk-footer__list-item">
                      <a class="nhsuk-footer__list-item-link" href="#"
                        >Cookie policy</a
                      >
                    </li>
                    <li class="nhsuk-footer__list-item">
                      <a class="nhsuk-footer__list-item-link" href="#"
                        >Accessibility statement</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    
    {% endblock %}
    