{% extends "../layout/clch-app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %} 

{% set pageHeading = "Hospital and specialist appointments" %}
{% set pageDescription = "View and manage your upcoming and past hospital appointments." %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsapp-section-heading">
      {% include "components/provider-banner/include.html" %}
    </div>
    <h1 class="nhsuk-heading-l">Community medicine appointment</h1>

    <!-- Summary list component - Appointment Info. -->
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Date</dt>
        <dd class="nhsuk-summary-list__value">Monday 7 April 2025</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Time</dt>
        <dd class="nhsuk-summary-list__value">10:15am</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Appointment type</dt>
        <dd class="nhsuk-summary-list__value">Community Medicine</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Location</dt>
        <dd class="nhsuk-summary-list__value">
            <p>Willesden Centre for Health and Care</p>
            <p>116 Chaplin Road, Wembley, HA0 4UZ</p>

            <!-- Map and directions detail component -->
            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                    Map and directions
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <!-- GOOGLE MAP ELEMENT -->
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.9845233318147!2d-0.3058748!3d51.550182799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487612362203c749%3A0x3a8b348f55031c58!2s116%20Chaplin%20Rd%2C%20Wembley%20HA0%204UZ!5e0!3m2!1sen!2suk!4v1749214828189!5m2!1sen!2suk"
                    width="375"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
              </details>
    </dl>

    <!-- BUTTONS COMPONENTS -->
    <a
      class="nhsuk-button nhsapp-button--secondary nhsapp-button"
      data-module="nhsuk-button"
      type="submit"
      href="ask-to-reschedule.html"
    >
      Ask to reschedule appointment
    </a>

    <p style="text-align: center" ><a href="#">Ask to cancel appointment</a></p>


    <!-- BLUE CARE CARD COMPONENT -->
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>
            Contact your care providers if:
          </span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-card__content">
        <ul>
          <li>your condition has changed</li>
          <li>you think you have a different condition</li>
        </ul>
      </div>
    </div>

    <!-- GET HELP TEXT -->
    <h2>Get help with this appointment</h2>
    <p>
      Contact the booking team on
      <a style="text-decoration: underline">0XXXX XXXXXX</a>
    </p>

    <!-- FOOTER COMPONENT-->
    <footer role="contentinfo">
      <div class="nhsuk-footer-container">
        <div class="nhsuk-width-container">
          <h2 class="nhsuk-u-visually-hidden">Support links</h2>
          <div class="nhsuk-footer">
            <ul class="nhsuk-footer__list">
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
              </li>
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
              </li>
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
              </li>
              <li class="nhsuk-footer__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
  </div>
</div>
{% endblock %}
