{% extends "../layout/clch-app-layout.html" %}

{% set hub = "Your health" %}
{% set backLink = true %}
{% set pageHeading = "Why do you need to reschedule?" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}

      <form id="form" method="post" action="#" novalidate>
        <div class="nhsuk-form-group">

          <!-- FIELDSET: Main Question -->
          <fieldset class="nhsuk-fieldset" aria-describedby="select-medicines-hint">

            <div class="nhsuk-form-group">

              <!-- FIELDSET: Age Question -->
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Why do you need to reschedule?
                  </h1>
                </legend>

                <div class="nhsuk-radios">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-1">I cannot attend at the scheduled time</label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-2">I have a new condition</label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-2">This was booked by mistake</label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-2">Other</label>
                  </div>
                </div>
              </fieldset>

            </div>
          </fieldset>

        </div>

        <!-- SUBMIT BUTTON -->
        <div class="nhsuk-u-padding-top-3">
          <a href="review-request.html"
             class="nhsuk-button nhsapp-button"
             data-module="nhsuk-button"
             type="submit">
            Continue
          </a>
        </div>

      </form>

      <!-- GET HELP TEXT -->
    <h2>Get help with this task</h2>
    <p>
      Contact the booking team on
      <a style="text-decoration: underline">0XXXX XXXXXX</a>
    </p>

    <!-- FOOTER COMPONENT-->
    <footer role="contentinfo">
        <div class="nhsuk-footer-container">
          <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <div class="nhsuk-footer">
              <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </div>
{% endblock %}
