<!DOCTYPE html>
{% extends 'prototypes/mental-health/mental-health-layout.html' %}

{% set hub = "Your health" %}
{% set backLink = true %}
{% set pageHeading = "Review your request" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}

      <!--<strong class="nhsapp-tag nhsapp-tag--red nhsuk-u-static-margin-bottom-2">Action needed</strong>-->

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

        <!-- SECTION HEADING COMPONENT -->
        <div class="nhsapp-section-heading">
          <h2 class="nhsuk-heading-s">Your old appointment</h2>
        </div>

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-4",
        rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: "Wednesday 1 May 2024"
          }
        },
        {
          key: {
            text: "Time"
          },
          value: {
            html: "9:40am"
          }
        },
        {
            key: {
              text: "Location"
            },
            value: {
              html: "West Park Cafe, 255 Otley Road, Leeds, LS16 5LQ"
            }
          },
          {
            key: {
              text: "Clinician"
            },
            value: {
              text: "Dr Donald Glover"
            }
          }
        ]
      }) }}

    <!-- SECTION: Requested appointment dates -->
    <div class="nhsapp-section-heading">
      <h2 class="nhsuk-heading-s">Your requested appointment</h2>
    </div>

    <!-- Summary list: User-selected times for Monday and Tuesday -->
    <dl class="nhsuk-summary-list">

      <!-- Monday -->
      {% if data['monday-time'] %}
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Monday</dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['monday-time'] | length > 1 %}
                {{ data['monday-time'] | join(', ') }}
            {% else %}
                {{ data['monday-time'] }}
            {% endif %}
            </dd>
        </div>
        {% endif %}

      <!-- Tuesday -->
      {% if data['tuesday-time'] %}
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Tuesday</dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['tuesday-time'] | length > 1 %}
                {{ data['tuesday-time'] | join(', ') }}
            {% else %}
                {{ data['tuesday-time'] }}
            {% endif %}
            </dd>
        </div>
        {% endif %}

      <!-- Wednesday -->
      {% if data['wednesday-time'] %}
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Wednesday</dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['wednesday-time'] | length > 1 %}
                {{ data['wednesday-time'] | join(', ') }}
            {% else %}
                {{ data['wednesday-time'] }}
            {% endif %}
            </dd>
        </div>
        {% endif %}

      <!-- Thursday -->
      {% if data['thursday-time'] %}
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Thursday</dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['thursday-time'] | length > 1 %}
                {{ data['thursday-time'] | join(', ') }}
            {% else %}
                {{ data['thursday-time'] }}
            {% endif %}
            </dd>
        </div>
        {% endif %}

      <!-- Friday -->
      {% if data['friday-time'] %}
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Friday</dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['friday-time'] | length > 1 %}
                {{ data['friday-time'] | join(', ') }}
            {% else %}
                {{ data['friday-time'] }}
            {% endif %}
            </dd>
        </div>
        {% endif %}

        <!-- No preference -->
        {% if data['no-preference'] %}
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">No preference</dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['no-preference'] | length > 1 %}
                {{ data['no-preference'] | join(', ') }}
            {% else %}
                {{ data['no-preference'] }}
            {% endif %}
            </dd>
        </div>
        {% endif %}

      <!-- Static fields shown again for clarity -->
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Location</dt>
        <dd class="nhsuk-summary-list__value">
          West Park Cafe, 255 Otley Road, Leeds, LS16 5LQ
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Clinician</dt>
        <dd class="nhsuk-summary-list__value">Dr Donald Glover</dd>
      </div>
    </dl>

      <!-- RED CARE CARD COMPONENT -->
      <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
        <div class="nhsuk-card--care__heading-container">
          <h2 class="nhsuk-card--care__heading"> <span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>If you need help now</span> </h2> <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-card__content">
          <ul>
            <li>If you are in danger, call <a href="">999</a> or go to A&E now</li>
            <li>If you need urgent help for your mental health, <a href="">get help from NHS 111 online or call 111</a></li>
          </ul>
          <p>Your mental health is as important as your physical health. You will not be wasting anyone's time.</p>
        </div>
      </div>

      <!-- CHECKBOX COMPONENT -->
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Confirm
            </h1>
          </legend>
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                I understand that I am asking to reschedule my appointment
              </label>
            </div>
    </div>

    <!-- BUTTON COMPONENT -->
    <div style="margin-top: 30px">
        <a class="nhsuk-button nhsapp-button" data-module="nhsuk-button" type="submit" href="reschedule-submitted.html">
            Request new appointment
        </a>
    </div>

      <!-- FIELDSET COMPONENTS -->
    <div>
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h6 class="nhsuk-fieldset__heading">
            Get help with this appointment
          </h6>
        </legend>
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__legend">Contact the booking team on <a href="">0XXXX XXX XXX</a></h3>
        </legend>
      </fieldset>
    </div>

      <!-- FOOTER COMPONENT-->
      <footer role="contentinfo">
        <div class="nhsuk-footer-container">
          <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <div class="nhsuk-footer">
              <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </div>

  {% endblock %}
