{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "GP Suggestion:" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}
      <h1>GP Suggestion</h1>

      <p>A test is recommended.</p>

        <!-- BUTTON COMPONENT -->
        <div style="padding-top: 20px">
            <a class="nhsuk-button nhsapp-button nhsapp-button" 
            data-module="nhsuk-button" type="submit" 
            href="test-booking-options.html">
                Book a test
            </a>
            </div>

      <!-- FIELDSET COMPONENTS -->
    <div>
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Get help with this task
          </h1>
        </legend>
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__legend">Contact the booking team on <a href="">0XXXX XXX XXX</a></h3>
        </legend>
      </fieldset>
    </div>

    
  </div>
  </div>

  {% endblock %}
