{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "What to do in the meantime" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% include "components/provider-banner/include.html" %}

      <h1>What to do while you wait for your appointment</h1>

      <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
        <div class="nhsuk-card--care__heading-container">
          <h2 class="nhsuk-card--care__heading"> 
            <span role="text">
                <span class="nhsuk-u-visually-hidden">
                    Non-urgent advice: </span>
                    Advice / Support</span> 
                </h2> 
                <span class="nhsuk-card--care__arrow" aria-hidden="true">
                </span>
        </div>
        <div class="nhsuk-card__content">
          <ul>
            <li>Advice 1</li>
            <li>Advice 2</li>
            <li>Advice 3</li>
          </ul>
        </div>
      </div>

      <h2>Your Pathway</h2>
      <!-- Timeline component -->
      <ol class="nhsapp-timeline">
        <li class="nhsapp-timeline__item">
          <svg
            class="nhsapp-timeline__badge"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 28 28"
          >
            <circle cx="14" cy="14" r="13" fill="#005EB8" />
          </svg>
      
          <div class="nhsapp-timeline__content">
            <h3 class="nhsapp-timeline__header nhsuk-u-font-weight-bold">
            Go to expert consultation
            </h3>
          
            <p class="nhsapp-timeline__description">
            The expert consultant will ...
            </p>
          </div>
        </li>
      
      <li class="nhsapp-timeline__item">
        <svg
        class="nhsapp-timeline__badge nhsapp-timeline__badge--small"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        >
        <circle
        cx="7"
        cy="7"
        r="6"
        fill="white"
        stroke="#AEB7BD"
        stroke-width="2"
        />
        </svg>
      

      <div class="nhsapp-timeline__content">
        <h3 class="nhsapp-timeline__header">Next step...</h3>

        <p class="nhsapp-timeline__description"> XXXX </p> 
      </div> 
    </li> 
  </ol>

    <p style="text-align: center;">
      <a style="text-decoration: underline;" href="appointments-3.html">View all appointments</a>
    </p>
    
  </div>
  </div>

  {% endblock %}
