{% extends 'clch-app-layout.html' %}

{% set hub = "Messages" %}

{% set backLink = true %} 
{% set backLinkURL = "/clch/messages"%} 

{% set pageHeading = "Messages" %}
{% set pageDescription = "Message" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
            <title>Messsage: CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST</title>
            <h1 class="nhsuk-heading-l">CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST</h1>
          </div>
          <p class="nhsuk-u-margin-bottom-5 nhsuk-secondary-text-color" style="color: gray;">Sent 28 March 2025 at 7:15pm</p>

          <p class="nhsuk-u-margin-bottom-5">You have a new Orthoptics appointment. </p>
          <p class="nhsuk-u-margin-bottom-5">This is an in-person appointment.</p>
          <p class="nhsuk-u-margin-bottom-5">From: CLCH</p>
          <p class="nhsuk-u-margin-bottom-5">To: S-DrDr Viola</p>

          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Monday 7 April 2025</p>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">10:15am</p>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-5" >Wembley Centre for Health and Care</p>

          <p class="nhsuk-u-margin-bottom-0" style="text-decoration: underline;"><a href="/clch/consent-screen-to-view-only-app">View your Orthoptics appointment</a></p>
          <p class="nhsuk-u-margin-bottom-5">If you are unable to keep this appointment please contact the service as soon as possible. Thank you</p>

          <p>Please use the link above to update your contact details.</p>


    </div>
  </div>
{% endblock %}
