{% extends 'clch-app-layout.html' %} 
{% set hub = "Messages" %} 

{% set backLink = true %}
{% set backLinkURL = "/clch/request-to-reschedule"%}

{% set pageHeading = "Messages" %} 
{% set pageDescription = "Appointment" %} 

{% block
content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsapp-section-heading">
      <title>Ask to Reschedule</title>
      <h1 class="nhsuk-heading-l">
        Choose a new date and time for your appointment
      </h1>
    </div>
    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-4">
      Monday 7th April 2025
    </h3>

    <!-- CHECKBOXES -->
    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        10:00am
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        10:15am
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        10:30am
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        11:15am
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        11:30am
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        11:45am
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        12:00pm
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        12:15pm
      </label>
    </div>

    <div class="nhsuk-checkboxes__item">
      <input
        class="nhsuk-checkboxes__input"
        id="contact"
        name="contact"
        type="checkbox"
        value="email"
      />
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
        12:30pm
      </label>
    </div>

    <!-- BUTTON COMPONENT -->
    <div>
      <a class="nhsuk-button nhsapp-button" href="/clch/review-your-request.html"
        >Continue</a
      >
    </div>
  </div>
</div>
{% endblock %}
