{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "Review order" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>Review your order</h1>
       
      <!-- Summary list component-->
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Perscription
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Medication details</p>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Pharmacy
          </dt>
          <dd class="nhsuk-summary-list__value">
            Name, address and phone number
          </dd>
          <dd class="nhsuk-summary-list__actions">
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Availability
          </dt>
          <dd class="nhsuk-summary-list__value">
            Available to collect in 1 hour
          </dd>
          <dd class="nhsuk-summary-list__actions">
          </dd>
        </div>
      </dl>
        
       <!-- CHECKBOX COMPONENT -->
       <div class="nhsuk-form-group" style="margin-top: 20px;">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Confirm
            </h1>
          </legend>
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                I understand that I am ordering a perscription
              </label>
            </div>
        </div>
        </fieldset>
        </div>

        <!-- BUTTON COMPONENT -->
        <div style="padding-top: 20px">
            <a class="nhsuk-button" data-module="nhsuk-button" type="submit" href="perscription-ordered.html">
                Place order
            </a>
        </div>

    </div>
  </div>

  {% endblock %}
