{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "Booking Options" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}
      <h1>Booking Options</h1>

        <!-- BUTTON COMPONENT -->
        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="expert-date-time.html"
            >
                Virtual
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="expert-date-time.html"
            >
                In person
            </a>
        </div>

    </div>
  </div>

  {% endblock %}
