{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "Choose your preferred appointment type" %}

{% block content %}

  <div class="nhsuk-grid-row page-wrapper">
    <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
            <h2 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">Choose your preferred appointment type</h2>
        </div>

        <div style="margin-top: 50px;">
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="gp-select-datetime.html"
            >
                In person
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="gp-select-datetime.html"
            >
                Telephone
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="gp-select-datetime.html"
            >
                Virtual
            </a>
        </div>
    </div>
  </div>

  {% endblock %}
