{% extends "outpatient/app-layout.html" %}

{% set hub = "Home" %}

{% set pageHeading = "Home" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        logo: data['web'] !== "yes",
        greetingName: data['userFirstName'] + " " + data['userLastName'],
        nhsNumber: data['nhsNumber']
      })}}

      <!-- SECTION - SERVICES -->
      {{ nhsappSectionHeading({
        headingText: "Services",
        linkText: "View all",
        linkUrl: "#",
        linkAriaLabel: "View all services"
      }) }}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Request repeat medicines",
            href: "#"
          },
          {
            title: "Check if you need urgent medical help using 111 online",
            href: "#"
          }
        ]
      }) }}

      <!-- SECTION - YOUR HEALTH -->
      {{ nhsappSectionHeading({
        headingText: "Your health",
        linkText: "View all",
        linkUrl: "#",
        linkAriaLabel: "View all your health"
      }) }}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "GP health record",
            href: "#"
          },
          {
            title: "View and manage prescriptions",
            href: "#"
          },
          {
            title: "Upcoming and past appointments",
            href: "#"
          },
          {
            title: "Check your symptoms",
            href: "symptom-entry.html"
          },
          {
            title: "Check your symptoms 2",
            href: "symptom-entry.html"
          }
        ]
      }) }}

      <!-- SECTION - MESSAGES -->
      {{ nhsappSectionHeading({
        headingText: "Messages"
      }) }}

      {% set data = { 'messages': 0 } %} <!-- Set the message count to 2 -->

      {% if data['messages'] > 0 %}
        {{ nhsappCardGroup({
          stacked: true,
          cards: [
            {
              title: 'View your messages',
              href: '#',
              prefixIcon: 'messagesUnread',
              linkAriaLabel: 'Messages, you have ' + data['messages'] + ' unread messages',
              badgeLarge: {
                count: data['messages'],
                label: 'unread messages',
                ariaHidden: true
              }
            }
          ]
        }) }}
      {% else %}
        {{ nhsappCardGroup({
          stacked: true,
          cards: [
            {
              title: 'View your messages',
              href: '#',
              prefixIcon: 'messages'
            }
          ]
        }) }}
      {% endif %}

      <!-- SECTION - SWITCH PROFILES -->
      {{ nhsappSectionHeading({
        headingText: "Manage services for another person"
      }) }}

      {{ nhsappCard({
        title: 'Switch profiles',
        href: '#',
        prefixIcon: 'switchProfile'
      }) }}

      <!-- FLU CAMPAIGN CARD -->
      <div class="nhsuk-card app-card--blue">
        <div class="nhsuk-card__content app-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-padding-top-2">Book a free flu vaccine</h2>
          <p class="nhsuk-card__description">Check if you are eligible and book an appointment</p>
          <a class="nhsuk-button nhsuk-button--reverse nhsapp-button" href="#">Find out more</a>
        </div>
      </div>


      <!-- ICON WITH LINK -->
      <div>
        <p>
          <a href="#" class="app-link--with-icon nhsuk-link--no-visited-state">
            {{ nhsappIcon('help') }}
            Get help with using the NHS App
          </a>
        </p>
      </div>

    </div>
  </div>

{% endblock %}
