{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %} 

{% set backLink = true %} 

{% set pageHeading = "Hospital appointment" %} 

{% block content%}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
          <title>Booking Submitted</title>
        </div>

        <!-- Green panel component -->
        <div class="nhsapp-panel">
            <h1 class="nhsapp-panel__title">
              Your hospital appointment has been booked
            </h1>
          </div>

        <!-- Summary list component - Appointment Info. -->
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date</dt>
            <dd class="nhsuk-summary-list__value">Thursday 17 July 2025</dd>
            </div>
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Time</dt>
            <dd class="nhsuk-summary-list__value">1:00pm</dd>
            </div>
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Appointment type</dt>
            <dd class="nhsuk-summary-list__value">Expert consultation</dd>
            </div>
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Location</dt>
            <dd class="nhsuk-summary-list__value">
                <p>Hospital</p>
            </dd>
            </div>
        </dl>

        <!-- What happens now section -->
        <h2>What happens now</h2>
        <p>You should recieve a notification of your appointment by SMS or email.</p>
    
        <!-- Button component -->
        <p style="text-align: center; margin-top: 50px;"><a style="text-decoration: underline;" href="patient-self-care.html">
          What to do while you wait
        </a>
      </p>

        <!-- <p style="text-align: center;"><a style="text-decoration: underline;" href="#">
          View all appointments
        </a></p> -->

      </div>
    </div>
    
{% endblock %}
    