{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Something has changed" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% include "components/provider-banner/include.html" %}
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="200">
        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper"><label class="nhsuk-label nhsuk-label--l" for="more-detail">
            Enter symptoms you've had in the past 24 hours: 
            </label></h1>
          <textarea class="nhsuk-textarea nhsuk-js-character-count" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      
        <div class="nhsuk-hint nhsuk-character-count__message" id="more-detail-info">
          You can enter up to 200 characters
        </div>
      </div>
      
     

          <a href="triage-suggestion.html" class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
          </a>


        <!-- SECTION -->
        {{ nhsappSectionHeading({
          headingText: "Get help with this task",
          subheadingText: "Contact the booking team on 01234 567 891"
        }) }}
    </div>
</div>      

  {% endblock %}
