{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %} 

{% set backLink = true %} 

{% set pageHeading = "Test service appointment" %} 

{% block content%}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
          <title>Your test kit has been ordered</title>
        </div>

        <!-- Green panel component -->
        <div class="nhsapp-panel">
            <h1 class="nhsapp-panel__title">
              You do not need to do anything until your test kit arrives.
            </h1>
          </div>

          <p>We will post a test kit and a pre-paid return label to your home address. 
            It will arrive in 3-5 working days via Royal Mail. When it arrives, please 
            follow the instructions in the package.
          </p>

          <hr>

          <h2>Progress</h2>
          <!-- Timeline component -->
          <ol class="nhsapp-timeline">
              <!-- Item 1 -->
              <li class="nhsapp-timeline__item nhsapp-timeline__item--past">
                <svg
                  class="nhsapp-timeline__badge"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                >
                  <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
            
            
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header">Completed</h3>
  
              <p class="nhsapp-timeline__description">Submit your symptoms</p>
              </div>
              </li>
              
              <!-- Item 2 -->
              <li class="nhsapp-timeline__item">
              <svg
              class="nhsapp-timeline__badge"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
              >
              <circle cx="14" cy="14" r="13" fill="#005EB8" />
              </svg>
              
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header nhsuk-u-font-weight-bold">
              Completed step
              </h3>
      
              <p class="nhsapp-timeline__description">GP review</p>
              </div>
              </li>

               <!-- Item 3 -->
               <li class="nhsapp-timeline__item">
                <svg
                class="nhsapp-timeline__badge"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 28 28"
                >
                <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
                
                <div class="nhsapp-timeline__content">
                <h3 class="nhsapp-timeline__header nhsuk-u-font-weight-bold">
                Completed step
                </h3>
        
                <p class="nhsapp-timeline__description">Recommended action</p>
                </div>
                </li>

                 <!-- Item 4 -->
              <li class="nhsapp-timeline__item">
                <svg
                class="nhsapp-timeline__badge"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 28 28"
                >
                <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
                
                <div class="nhsapp-timeline__content">
                <h3 class="nhsapp-timeline__header nhsuk-u-font-weight-bold">
                Completed step
                </h3>
        
                <p class="nhsapp-timeline__description">Book blood test</p>
                </div>
                </li>

                <!-- Item 5 -->
              <li class="nhsapp-timeline__item">
                <svg
                class="nhsapp-timeline__badge"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 28 28"
                >
                <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
                
                <div class="nhsapp-timeline__content">
                <h3 class="nhsapp-timeline__header nhsuk-u-font-weight-bold">
                Current step
                </h3>
        
                <p class="nhsapp-timeline__description">Complete blood test</p>
                </div>
                </li>
  
              <!-- Item 6 -->
              <li class="nhsapp-timeline__item">
              <svg
              class="nhsapp-timeline__badge"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 14 14"
              >
              <circle
              cx="7"
              cy="7"
              r="6"
              fill="white"
              stroke="#AEB7BD"
              stroke-width="2"
              />
              </svg>
              
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header"><a href="lockscreen-2.html">Future step</a></h3>
              <p class="nhsapp-timeline__description">Blood test results</p> 
              </div> 
          </li> 
      </ol>

      </div>
    </div>
    
{% endblock %}
    