{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "GP Appointment Options" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}
      <h1>Test Appointment Options</h1>

      <!-- BUTTON COMPONENT -->
        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="test-date-time.html"
            >
                Postal (3-5 days)
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="test-date-time.html"
            >
                Community (1 week)
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="test-date-time.html"
            >
                Hospital (6 weeks)
            </a>
        </div>

        
    </div>
  </div>

  {% endblock %}
