{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "Triage suggestion" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}
      <h1>Triage suggestion</h1>
        <p>Triage suggests that you book an appointment.</p>

        <h2>Book an appointment with...</h2>
        <!-- BUTTON COMPONENT -->
        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="gp-appointment-options.html"
            >
                GP
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="#"
            >
                Self-referral
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="#"
            >
                Pharmacy
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="#"
            >
                A&E
            </a>
        </div>

        <!-- FOOTER COMPONENT-->
        <footer role="contentinfo">
            <div class="nhsuk-footer-container">
            <div class="nhsuk-width-container">
                <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                <div class="nhsuk-footer">
                <ul class="nhsuk-footer__list">
                    <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
                    </li>
                    <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
                    </li>
                    <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
                    </li>
                    <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </footer>

    </div>
  </div>

  {% endblock %}
