{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "Book an appointment" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>Triage suggestion</h1>
        <div class="nhsuk-inset-text">
                <p>Based on the symptoms you entered, we recommend you book an appointment with your GP.</p>
        </div>
        
        <h2 style="margin-top: 50px;">Book an appointment with...</h2>
        <!-- BUTTON COMPONENT -->
        <div style="margin-top: 20px;">
            <a
            class="nhsuk-button nhsapp-button--primary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="gp-appointment-options.html"
            >
                GP
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="#"
            >
                Self-referral
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="#"
            >
                Pharmacy
            </a>
        </div>

        <div>
            <a
            class="nhsuk-button nhsapp-button--secondary nhsapp-button"
            data-module="nhsuk-button"
            type="submit"
            href="#"
            >
                A&E
            </a>
        </div>

        
    </div>
  </div>

  {% endblock %}
