{% extends 'acute/acute-layout.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Hospital and specialist appointments" %}

{% set pageDescription = "View and manage your upcoming and past hospital appointments." %}

{% block content %}

<!-- Hospital provides this service component -->
<div class="app-provider-banner app-u-full-width-desktop">
  <div class="nhsuk-width-container">
    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Your hospital provides this service</p>
  </div>
</div>

<!-- Title -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsapp-section-heading">
      <h1 class="nhsuk-heading-l">Asthma appointment</h1>
    </div>

    <!-- Summary list component - Appointment Info. -->
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Date</dt>
        <dd class="nhsuk-summary-list__value">Friday 4 July 2025</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Time</dt>
        <dd class="nhsuk-summary-list__value">10:30am</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Location</dt>
        <dd class="nhsuk-summary-list__value">Northern General Hospital, Entrance G, Sheffield, S5 7AU</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Clinician</dt>
        <dd class="nhsuk-summary-list__value">
          <p>Ahmet Kaya</p>
        </dd>
      </div>
    </dl>

    <!-- Map and directions link -->
     <p class="nhsuk-u-margin-bottom-6"><a style="text-decoration: underline;">Map and directions</a></p>

      <!-- Things to do components -->
      <h3>Things to do</h3>

      <h6>To do</h6>
 
       <!-- Card component -->
       <div class="nhsapp-card">
         <div class="nhsapp-card__container">
           <div class="nhsapp-card__content">
            <div>
              <span class="nhsapp-tag nhsapp-tag--green nhsuk-u-margin-bottom-4">Done</span>
            </div>
            <a href="appointment-letter.html" class="nhsapp-card__link nhsuk-link--no-visited-state">
               Asthma appointment confirmation letter
             </a>
             <p style="color: gray; margin-top: 15px;">Recieved 9 June 2025</p>
           </div>
       <svg class="nhsapp-icon nhsapp-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24" > <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" /> </svg> </div> </div>
 

    <!-- BUTTONS COMPONENTS -->
        <a
          class="nhsuk-button nhsapp-button--secondary nhsapp-button"
          data-module="nhsuk-button"
          type="submit"
          href="/acute/reschedule-appointment/ask-to-reschedule.html"
          style="margin-top: 40px;"
        >
          Ask to reschedule appointment
      </a>

        <a style="text-decoration: underline; display: flex; justify-content: center;" href="/acute/cancel-appointment/ask-to-cancel.html">Ask to cancel appointment</a>


    <!-- BLUE CARE CARD COMPONENT -->
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>
            Contact your care providers if:
          </span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-card__content">
        <ul>
          <li>your condition has changed</li>
          <li>you think you have a different condition</li>
        </ul>
      </div>
    </div>

    <!-- GET HELP TEXT -->
    <h2>Get help with this appointment</h2>
    <p>
      Contact the booking team on
      <a style="text-decoration: underline">07931 124533</a>
    </p>
  </div>

  <!-- FOOTER COMPONENT-->
  <footer role="contentinfo">
    <div class="nhsuk-footer-container">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <div class="nhsuk-footer">
          <ul class="nhsuk-footer__list">
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
