{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/your-health/view-or-manage-appointment" %}

<!-- PAGE HEADING COMPONENT -->
{% set pageHeading = "Review your request" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}

      <!--<strong class="nhsapp-tag nhsapp-tag--red nhsuk-u-static-margin-bottom-2">Action needed</strong>-->

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

        <!-- SECTION HEADING COMPONENT -->
        <div class="nhsapp-section-heading">
          <h2 class="nhsuk-heading-s">Your old appointment</h2>
        </div>

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-4",
        rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: "Friday 7 June 2024"
          }
        },
        {
          key: {
            text: "Time"
          },
          value: {
            html: "10:30am"
          }
        },
        {
            key: {
              text: "Appointment type"
            },
            value: {
              html: "Mental health service appointment"
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Room 1, King Street GP Practice, New Street, Sheffield, S1 1XX"
            }
          },
          {
            key: {
              text: "Clinician"
            },
            value: {
              text: "Ahmet Kaya"
            }
          }
        ]
      }) }}

      <!-- SECTION HEADING COMPONENT -->
      <div class="nhsapp-section-heading">
        <h2 class="nhsuk-heading-s">Your Requested Appointment</h2>
      </div>

      <!-- SUMMARY LIST COMPONENT -->
      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-4",
        rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: "Wednesday 15 May 2024"
          }
        },
        {
          key: {
            text: "Time"
          },
          value: {
            html: "9:40am"
          }
        },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Croydon University Hospital, The Willows, Croydon, RJ6"
            }
          },
          {
            key: {
              text: "Clinician"
            },
            value: {
              text: "Dr Donald Glover"
            }
          }
        ]
      }) }}

      <!-- RED CARE CARD COMPONENT -->
      <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
        <div class="nhsuk-card--care__heading-container">
          <h2 class="nhsuk-card--care__heading"> <span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>If you need help now</span> </h2> <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-card__content">
          <ul>
            <li>If you are in danger, call <a href="">999</a> or go to A&E now</li>
            <li>If you need urgent help for your mental health, <a href="">get help from NHS 111 online or call 111</a></li>
          </ul>
          <p>Your mental health is as important as your physical health. You will not be wasting anyone's time.</p>
        </div>
      </div>

      <!-- CHECKBOX COMPONENT -->
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Confirm
            </h1>
          </legend>
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                I understand that I am asking to reschedule my appointment
              </label>
            </div>
    </div>

    <!-- BUTTON COMPONENT -->
    <div style="padding-top: 20px">
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Request New Appointment
        </button>
    </div>

      <!-- FIELDSET COMPONENTS -->
    <div>
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h6 class="nhsuk-fieldset__heading">
            Get help with this appointment
          </h6>
        </legend>
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__legend">Contact the booking team on <a href="">0XXXX XXX XXX</a></h3>
        </legend>
      </fieldset>
    </div>

      <!-- FOOTER COMPONENT-->
      <footer role="contentinfo">
        <div class="nhsuk-footer-container">
          <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <div class="nhsuk-footer">
              <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </div>

  {% endblock %}
