{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set pageHeading = "Upcoming and past appointments" %}
{% set pageDescription = "View or manage upcoming and past appointments, referrals and waiting lists" %}

{% block content %}

 

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
      <!-- LINK COMPONENT -->
      <div class="nhsuk-back-link"> <a class="nhsuk-back-link__link" href="/maya/home-screen">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back</a>
      </div>

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <ul class="nhsapp-cards nhsapp-cards--stacked">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="#">
                GP surgery appointments
              </a>
            </div>
            {% if data['appointment-letter'] != "read" %}
            <p class="nhsapp-badge" aria-hidden="true">
              <span class="nhsuk-u-visually-hidden">You have</span>
              1
              <span class="nhsuk-u-visually-hidden">notifications</span> 
            </p>
            {% endif %}
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/pages/your-health/referrals">
                Referrals
              </a>
            </div>
            {% if data['appointment-letter'] != "read" %}
            <p class="nhsapp-badge" aria-hidden="true">
              <span class="nhsuk-u-visually-hidden">You have</span>
              1
              <span class="nhsuk-u-visually-hidden">notifications</span> 
            </p>
            {% endif %}
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/maya/hospital-appointments">
                Hospital appointments
              </a>
            </div>
            {% if data['appointment-letter'] != "read" %}
            <p class="nhsapp-badge" aria-hidden="true">
              <span class="nhsuk-u-visually-hidden">You have</span>
              1
              <span class="nhsuk-u-visually-hidden">notifications</span> 
            </p>
            {% endif %}
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="#">
                Waiting lists
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
      </ul>

      <!-- RELATED CONTENT CARD -->
      {{ relatedContentCard({
        icon: "cross",
        title: "Access services",
        description: "Find available GP appointments and other available services",
        URL: "#",
        linkText: "Explore services"
      })}}

    </div>
  </div>

  {% endblock %}
