{% extends "prototypes/acute/acute-layout.html" %}

{% set hub = "Your health" %} 
{% set backLink = true %}
{% set pageHeading = "Request all dates and times that you can attend" %} 

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {% include "components/provider-banner/include.html" %}

    {# Checkbox component #}
    <form method="post" action="reason" novalidate>
      {{ checkboxes({
        idPrefix: "question-0",
        name: "mary-monday",
        fieldset: {
          legend: {
            text: "Request all dates and times that you can attend",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: {
          text: "Monday 7 July 2025"
        },
        items: [
          {
            value: "Anytime this day",
            text: "Anytime this day"
          },
          {
            value: "12:30pm",
            text:  "12:30pm"
          },
          {
            value: "1:00pm",
            text:  "1:00pm"
          },
          {
            value: "1:30pm",
            text:  "1:30pm"
          }
        ]
      }) }}

      {# Checkbox component #}
      {{ checkboxes({
        idPrefix: "question-1",
        name: "mary-tuesday",
        hint: {
          text: "Tuesday 8 July 2025"
        },
        items: [
          {
            value: "Anytime this day",
            text: "Anytime this day"
          },
          {
            value: "12:30pm",
            text:  "12:30pm"
          },
          {
            value: "1:00pm",
            text:  "1:00pm"
          },
          {
            value: "1:30pm",
            text:  "1:30pm"
          }
        ]
      }) }}

      <!-- PAGINATION LINK COMPONENT -->
      <div style="padding-bottom: 15px">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
          <span class="nhsuk-pagination__page">Load More</span>
        </a>
      </div>

      <!-- BUTTON COMPONENT -->
          {{ button({
          text: "Continue",
          attributes: { type: "submit" },
          classes: "nhsapp-button"
          }) }}

      </form>

    <!-- GET HELP TEXT -->
    <h2>Get help with this task</h2>
    <p>
      Contact the booking team on
      <a style="text-decoration: underline">0XXXX XXXXXX</a>
    </p>

    <!-- FOOTER COMPONENT-->
    <footer role="contentinfo">
        <div class="nhsuk-footer-container">
          <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <div class="nhsuk-footer">
              <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </div>
</div>
{% endblock %}
