{% extends 'acute/acute-layout.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Request to reschedule" %}

{% block content %}

<!-- Hospital provides this service component -->
<div class="app-provider-banner app-u-full-width-desktop">
    <div class="nhsuk-width-container">
      <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Your hospital provides this service</p>
    </div>
  </div>
  
  <!-- Title -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsapp-section-heading">
        <h1 class="nhsuk-heading-l">Ask to reschedule your appointment</h1>
      </div>
  
      <!-- Summary list component - Appointment Info. -->
      <dl class="nhsuk-summary-list" style="margin-top: 15px;">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date</dt>
          <dd class="nhsuk-summary-list__value">Friday 4 July 2025</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Time</dt>
          <dd class="nhsuk-summary-list__value">10:30am</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Location</dt>
          <dd class="nhsuk-summary-list__value">Northern General Hospital, Entrance G, Sheffield, S5 7AU</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Clinician</dt>
          <dd class="nhsuk-summary-list__value">
            <p>Ahmet Kaya</p>
          </dd>
        </div>
      </dl>

      <!-- Map and directions -->
       <a style="text-decoration: underline;">Map and directions</a>

      <!-- FIELDSET COMPONENTS -->
    <div>
      <fieldset class="nhsuk-fieldset" style="margin-top: 15px;">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 style="margin-top: 20px;" class="nhsuk-fieldset__heading">How a request works</h1>
        </legend>
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__legend">The booking team will process your request to reschedule. 
                This process will take approximately 48 hours.</h3>
            <h3 class="nhsuk-fieldset__legend">The original appointment may remain visible during that time</h3>
        </legend>
    </fieldset>
        {{ button({
          text: "Start",
          classes: "nhsapp-button",
          href: "#"
        }) }}
    </div>  

      <!-- FIELDSET COMPONENTS -->
    <div>
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Get help with this task
          </h1>
        </legend>
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__legend">Contact the booking team on <a href="">0XXXX XXX XXX</a></h3>
        </legend>
      </fieldset>
    </div>

    </div>
  </div>

  {% endblock %}
