{% extends 'acute/acute-layout.html' %}

{% set hub = "Your health" %}

{% set backLink = true %} 

{% set pageHeading = "Review your request" %}

{% block content %}
    
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
          <title>Review your request</title>
          <h1 class="nhsuk-u-margin-bottom-4">Review your request</h1>
        </div>

        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">Your old appointment</h3>
        <!-- Summary list component - Appointment Info. -->
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date</dt>
            <dd class="nhsuk-summary-list__value">Friday 4 July 2025</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Time</dt>
            <dd class="nhsuk-summary-list__value">10:30am</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Appointment type</dt>
            <dd class="nhsuk-summary-list__value">Asthma</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Location</dt>
            <dd class="nhsuk-summary-list__value">
              <p>Northern General Hospital, Entrance G,</p>
              <p>Sheffield, S5 7AU</p>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Clinician</dt>
            <dd class="nhsuk-summary-list__value">
              <p>Ahmet Kaya</p>
            </dd>
          </div>
        </dl>

        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">Your requested appointment</h3>
        <!-- Summary list component - Appointment Info. -->
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Monday 7 July 2025</dt>
            <dd class="nhsuk-summary-list__value">Any time this day</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Tuesday 8 July 2025</dt>
            <dd class="nhsuk-summary-list__value">Any time this day</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Appointment type</dt>
            <dd class="nhsuk-summary-list__value">Asthma</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Location</dt>
            <dd class="nhsuk-summary-list__value">
              <p>Northern General Hospital, Entrance G,</p>
              <p>Sheffield, S5 7AU</p>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Clinician</dt>
            <dd class="nhsuk-summary-list__value">
              <p>Ahmet Kaya</p>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Reason</dt>
            <dd class="nhsuk-summary-list__value">
              <p>I cannot attend the scheduled time</p>
            </dd>
          </div>
        </dl>


        <!-- BUTTON COMPONENT -->
        <a
        class="nhsuk-button nhsapp-button--primary nhsapp-button"
        data-module="nhsuk-button"
        type="submit"
        href="request-submitted.html"
      >
        Request new appointment
      </a>

      </div>
    </div>
    {% endblock %}
    