{% extends 'clch-app-layout.html' %}

{% set hub = "Your health" %}

{% set backLink = true %} 

{% set pageHeading = "Hospital and specialist appointments" %}
{% set pageDescription = "View and manage your upcoming and past hospital appointments." %}

{% block content %}
    
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
          <title>Review your request</title>
        </div>

        <!-- Green panel component -->
        <div class="nhsapp-panel">
          <h1 class="nhsapp-panel__title">
            Your request to reschedule has been submitted
          </h1>
        </div>

        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-4">Your requested appointment</h3>
        <!-- Summary list component - Appointment Info. -->
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date</dt>
            <dd class="nhsuk-summary-list__value">Tuesday 24 September 2024</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Time</dt>
            <dd class="nhsuk-summary-list__value">1:30pm</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Appointment type</dt>
            <dd class="nhsuk-summary-list__value">Community Medicine</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Location</dt>
            <dd class="nhsuk-summary-list__value">
              <p>Wembley Centre for Health and Care</p>
              <p>116 Chaplin Road, Wembley, HA0 4UZ</p>
            </dd>
          </div>
        </dl>


        <!-- BUTTON COMPONENT -->
        <a
        class="nhsuk-button nhsapp-button--secondary nhsapp-button"
        data-module="nhsuk-button"
        type="submit"
        href="app-in-review.html"
      >
        View this appointment
      </a>

      </div>
    </div>
    {% endblock %}
    