{% extends 'prototypes/epic/epic-layout.html' %}

{% set hub = "Your health" %}
{% set backLink = true %}
{% set pageHeading = "Agree to share your NHS login information" %}
{% set pageDescription = "To continue, you need to agree to share your NHS login information with <b>'MyFrimleyHealth'</b>" %}

{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

        <!-- DYNAMIC PAGE TITLE -->
        {{ dynamicPageTitle({
            title: pageHeading,
            titleSecondary: true,
            description: pageDescription
        })}}

        
       <p class='nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3'><b>'MyFrimleyHealth'</b> will use your:</p>

       {# List #}
       <ul>
        <li>NHS number</li>
        <li>date of birth</li>
        <li>last name</li>
        <li>first name</li>
        <li>email address</li>
        <li>registration details for GP online services</li>
       </ul>

       <p class='nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3'>    
        If you agree, read their       
        <a href="#" class="nhsuk-link--no-visited-state">terms of use and privacy policy</a>
        to check how your information will be used
       </p>

       
        {# Button #}
        {{ button({
        text: "I agree",
        href: "mychart-appointment.html",
        classes: "nhsapp-button"
        }) }}

       <p class='nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3'>
        <a href="you-did-not-agree.html" class="nhsuk-link--no-visited-state">I do not agree to share this information</a>
       </p>

        </div>
    </div>


{% endblock %}

