{% extends 'prototypes/epic/epic-layout.html' %} 

{% set hub = "Your health" %} 
{% set backLink = true %}
{% set pageHeading = "Appointment details" %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- TITLE -->
    <div style="display: flex; align-items: left; gap: 15px">
      <h1 class="blue-text">Appointments and Visits</h1>
      <button
        style="
          border: none;
          background: none;
          cursor: pointer;
          margin-top: -30px;
        "
      >
        <img
          src="https://icons.iconarchive.com/icons/custom-icon-design/mono-business-2/128/printer-icon.png"
          alt="Print page"
          width="30"
          height="30"
        />
      </button>
    </div>

    <!-- SELECT COMPONENT -->
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="select-1"> Show </label>
      <select
        class="nhsuk-select"
        id="select-1"
        name="select-1"
        style="width: 100%; max-width: 600px; margin: 0 auto; display: block"
      >
        <option value="1" selected>All</option>
        <option value="2">option 2</option>
        <option value="3">option 3</option>
      </select>
    </div>

    <!-- LINK COMPONENT -->
    <div class="nhsuk-back-link" style="text-align: center">
      <a class="nhsuk-back-link__link teal-text" href="#">More filter options</a>
    </div>

    <!-- HEADER COMPONENTs -->
    <h2 class="blue-text">Upcoming visits</h2>
    <h3 class="blue-text">Next 7 days</h3>

    <!-- BLUE CARE CARD -->
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">Cardiology appointment</h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-card__content">
        <h3 class="blue-text">Wednesday May 1 2024</h3>
        <p>Arrive by 9:40am</p>
        <p>Croydon University Hospital</p>
        <p>Cardiology</p>
        <a
          class="nhsuk-button nhsapp-button--primary nhsapp-button mychart-blue-button"
          href="mychart.html"
        >
          View Details
      </a>
      </div>
    </div>

    <!-- HEADER COMPONENTs -->
    <h2 class="blue-text">Past visits</h2>
    <h3 class="blue-text">6 months ago</h3>

    <!-- BLUE CARE CARD -->
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">Tuesday 03 January 2024</h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-card__content">
        <h3 class="blue-text">Rheumatology appointment</h3>
        <p>Rheumatology</p>
        <p><a class="teal-text" href="past-visit-details.html">View after visit summary</a></p>
      </div>
    </div>

    <!-- HEADER COMPONENTs -->
    <h2>Related Links</h2>
    <p><a class="teal-text" href="#">Document centre</a></p>
  </div>
</div>

{% endblock %}
