<!DOCTYPE html>
{% extends 'prototypes/epic/epic-layout.html' %}

{% set hub = "Your health" %}
{% set backLink = true %}
{% set pageHeading = "Hospital and specialist appointments" %}
{% set pageDescription = "View and manage your upcoming and past hospital appointments." %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      {{ insetText({
        HTML: "<p>Some of your appointment information may not be visible in the app. Find out more by selecting the help section at the top of the screen.</p>",
        classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
      }) }}

      <!-- SECTION -->
      {{ nhsappSectionHeading({
        headingText: "Upcoming appointments",
        subheadingText: "32 upcoming appointments"
      })}}

      {# Icons #}
      <div class="nhsuk-margin-bottom-6" style="display: flex; align-items: center;  gap: 1.5rem; ">
        {# Filter icon #}
        <a href="#" class="app-link app-link--with-icon nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0">
          <svg class="app-icon" aria-hidden="true" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.3302 7.19995H3.66016C3.52209 7.19995 3.41016 7.31188 3.41016 7.44995V8.46995C3.41016 8.60802 3.52209 8.71995 3.66016 8.71995H20.3302C20.4682 8.71995 20.5802 8.60802 20.5802 8.46995V7.44995C20.5802 7.31188 20.4682 7.19995 20.3302 7.19995Z" />
            <path d="M17.6598 11.24H6.33984C6.20177 11.24 6.08984 11.3519 6.08984 11.49V12.51C6.08984 12.6481 6.20177 12.76 6.33984 12.76H17.6598C17.7979 12.76 17.9098 12.6481 17.9098 12.51V11.49C17.9098 11.3519 17.7979 11.24 17.6598 11.24Z" />
            <path d="M15.0397 15.24H8.96973C8.83166 15.24 8.71973 15.3519 8.71973 15.49V16.51C8.71973 16.6481 8.83166 16.76 8.96973 16.76H15.0397C15.1778 16.76 15.2897 16.6481 15.2897 16.51V15.49C15.2897 15.3519 15.1778 15.24 15.0397 15.24Z" />
          </svg>
          <span class="app-u-gap-0">
            Filters (1) <span class="nhsuk-u-visually-hidden"> messages </span>
            {% if data['message-sender'] == "" and data['message-status'] == "" %}
            {% else %}
              ({{ data['message-sender'] | length + data['message-status'] | length }})
              <span class="nhsuk-u-visually-hidden"> 
                {% if data['message-sender'] | length + data['message-status'] | length > 1 %}
                filters 
                {% else %}
                filter
                {% endif %}
                currently selected</span>
            {% endif %}
          </span>
        </a>
        
        {# Sort by Icon #}
        <a href="#" class="app-link app-link--with-icon nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0">
          <svg class="nhsapp-icon nhsapp-icon__sort" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path d="M7.04 18.46a.65.65 0 0 0 .92 0l4.136-4.137a.65.65 0 0 0-.919-.92L7.5 17.082l-3.677-3.677a.65.65 0 0 0-.92.919L7.04 18.46ZM6.85 6v12h1.3V6h-1.3Z" />
            <path d="M16.04 5.54a.65.65 0 0 1 .92 0l4.136 4.137a.65.65 0 0 1-.919.92L16.5 6.918l-3.677 3.677a.65.65 0 0 1-.92-.919L16.04 5.54ZM15.85 18V6h1.3v12h-1.3Z" />
          </svg>
          <span class="app-u-gap-0">Sort by</span>
        </a>

        {# Clear filters link #}
        <a href="#" class="app-link app-link--with-icon nhsuk-link--no-visited-state nhsuk-u-margin-bottom-0">
          <span class="app-u-gap-0">Clear filters</span>
        </a>
        </div>

      <!-- SECTION -->
      {{ nhsappSectionHeading({
        subheadingText: "Showing 1 of 2 appointment(s)"
      })}}

      <!-- CARDS -->
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="consent-screen.html" aria-label="Cardiology appointment on Monday 3 June 2024 at 9:40am">
                Dermatology appointment
              </a>
              <div class="nhsapp-card__below">
                <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3">Friday 1 August 2025 <br> 2:30pm</p>
                <p class="nhsuk-u-margin-bottom-3">Main Outpatients Department, <br> Frimley Park Hospital</p>
                <p class="nhsapp-badge-small nhsapp-badge-small--red nhsuk-body-s nhsuk-u-secondary-text-color">
                  <span>Document(s) attached</span>
                </p>
              </div>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
      </ul>

      <hr class="nhsuk-section-break--l">

      <!-- SECTION -->
      {{ nhsappSectionHeading({
        headingText: "Past appointments"
      })}}

      <!-- CARDS -->
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="#">
                View more past appointments
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>

      </ul>

    </div>
  </div>

  {% endblock %}
