{% extends 'prototypes/epic/epic-layout.html' %} 

{% set hub = "Your health" %} 
{% set backLink = true %}
{% set pageHeading = "Appointment details" %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- BREADCRUMB COMPONENT -->
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level one</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level two</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level three</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
          <a class="nhsuk-breadcrumb__backlink teal-text" href="/epic/appointments-and-visits">
            <span class="nhsuk-u-visually-hidden teal-text">Back to &nbsp;</span>
            Appointments and Visits List
          </a>
        </p>
      </nav>

    <!-- HEADER COMPONENTS -->
      <h2 class="blue-text">Past Visit Details</h2>
      <h1 class="blue-text">Rheumatology - Tuesday 03 January 2024</h1>
      <h3 style="margin-top: -30px;">with The Willows, Croydon University Hospital</h3>
      <h3>at Rheumatology</h3>

    <!-- PRINTER ICON COMPONENT -->
    <a
    style="
      border: none;
      background: none;
      cursor: pointer;
      margin-top: -30px;
    "
  >
    <img
      src="https://icons.iconarchive.com/icons/custom-icon-design/mono-business-2/128/printer-icon.png"
      alt="printer"
      width="30"
      height="30"
    />
      </a>

    <!-- HEADER COMPONENT -->
    <h2 class="blue-text" style="padding-top: 20px; margin-bottom: 50px; padding-bottom: 0px;">After Visit Summary</h2>

    <!-- BLUE CARE CARD -->
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">After Visit summary</h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-card__content">
        <h3 class="blue-text">Mary Swanson</h3>
        <p>Tuesday 03 January 2024, 3:00pm</p>
        <p>Rheumatology</p>
        <p>Rheumatology</p>
      </div>
      <div class="nhsuk-card__content">
        <h3 class="blue-text">Today's Visit</h3>
      </div>
      <div class="nhsuk-card__content"> 
        <h3 class="blue-text">What's Next</h3>
      </div>
      <div class="nhsuk-card__content">
        <h3 class="blue-text">Your Medication List</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
