{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Additional information request" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

      <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="200">
        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper"><label class="nhsuk-label nhsuk-label--l" for="more-detail">
            Question from specialist:
            </label></h1>
          <textarea class="nhsuk-textarea nhsuk-js-character-count" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      
        <div class="nhsuk-hint nhsuk-character-count__message" id="more-detail-info">
          You can enter up to 200 characters
        </div>
      </div>
            
      <div style="margin-top: 15px" class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
      </div>

      <a style="margin-top: 30px;" href="specialist-reviewing-info.html" class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Submit
      </a>


        <!-- SECTION -->
        {{ nhsappSectionHeading({
          headingText: "Get help with this task",
          subheadingText: "Contact the booking team on 01234 567 891"
        }) }}
    </div>
</div>      

  {% endblock %}
