{% extends "outpatient/app-layout.html" %}

{% set hub = "Your health" %} 

{% set backLink = true %} 

{% set pageHeading = "Perscription ordered" %} 

{% block content%}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
          <title>Perscription ordered</title>
        </div>

        <!-- Green panel component -->
        <div class="nhsapp-panel">
            <h1 class="nhsapp-panel__title">
              Your perscription has been ordered
            </h1>
          </div>

                  <!-- Summary list component-->
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Perscription
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>Medication details</p>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Pharmacy
            </dt>
            <dd class="nhsuk-summary-list__value">
              Name, address and phone number
            </dd>
            <dd class="nhsuk-summary-list__actions">
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Availability
            </dt>
            <dd class="nhsuk-summary-list__value">
              Available to collect in 1 hour
            </dd>
            <dd class="nhsuk-summary-list__actions">
            </dd>
          </div>
        </dl>

        <!-- What happens now section -->
        <h2>What happens now</h2>
        <p>Once you have completed your course of medication, your treatment plan is finished</p>
        
        <!-- Blue care card -->
        <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
            <div class="nhsuk-card--care__heading-container">
              <h2 class="nhsuk-card--care__heading"> <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>
                Check your symptoms again if:</span> </h2> <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-card__content">
              <ul>
                <li>you experience new symptoms</li>
                <li>Your current symptoms worsen</li>
              </ul>
            </div>
          </div>


          
        <h2>Progress</h2>
        <!-- Timeline component -->
        <ol class="nhsapp-timeline">
            <!-- Item 1 -->
            <li class="nhsapp-timeline__item nhsapp-timeline__item--past">
              <svg
                class="nhsapp-timeline__badge"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 28 28"
              >
                <circle cx="14" cy="14" r="13" fill="#005EB8" />
              </svg>
          
          
            <div class="nhsapp-timeline__content">
            <h3 class="nhsapp-timeline__header">Completed</h3>

            <p class="nhsapp-timeline__description">Submit your symptoms</p>
            </div>
            </li>

             <!-- Item 2 -->
             <li class="nhsapp-timeline__item nhsapp-timeline__item--past">
                <svg
                  class="nhsapp-timeline__badge"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                >
                  <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
            
            
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header">Completed</h3>
  
              <p class="nhsapp-timeline__description">GP review</p>
              </div>
              </li>

               <!-- Item 3 -->
            <li class="nhsapp-timeline__item nhsapp-timeline__item--past">
                <svg
                  class="nhsapp-timeline__badge"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                >
                  <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
            
            
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header">Completed</h3>
  
              <p class="nhsapp-timeline__description">Recommended action</p>
              </div>
              </li>

               <!-- Item 4 -->
            <li class="nhsapp-timeline__item nhsapp-timeline__item--past">
                <svg
                  class="nhsapp-timeline__badge"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                >
                  <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
            
            
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header">Completed</h3>
  
              <p class="nhsapp-timeline__description">Book blood test</p>
              </div>
              </li>

               <!-- Item 5 -->
            <li class="nhsapp-timeline__item nhsapp-timeline__item--past">
                <svg
                  class="nhsapp-timeline__badge"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                >
                  <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
            
            
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header">Completed</h3>
  
              <p class="nhsapp-timeline__description">Complete blood test</p>
              </div>
              </li>

               <!-- Item 6 -->
            <li class="nhsapp-timeline__item nhsapp-timeline__item--past">
                <svg
                  class="nhsapp-timeline__badge"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                >
                  <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
            
            
              <div class="nhsapp-timeline__content">
              <h3 class="nhsapp-timeline__header">Completed</h3>
  
              <p class="nhsapp-timeline__description">Blood test results</p>
              </div>
              </li>
            
            <!-- Item 7 -->
            <li class="nhsapp-timeline__item">
            <svg
            class="nhsapp-timeline__badge"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 28 28"
            >
            <circle cx="14" cy="14" r="13" fill="#005EB8" />
            </svg>
            
            <div class="nhsapp-timeline__content">
            <h3 class="nhsapp-timeline__header">
            Completed step
            </h3>
    
            <p class="nhsapp-timeline__description">GP consulting specialist</p>
            </div>
            </li>

             <!-- Item 8 -->
             <li class="nhsapp-timeline__item">
                <svg
                class="nhsapp-timeline__badge"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 28 28"
                >
                <circle cx="14" cy="14" r="13" fill="#005EB8" />
                </svg>
                
                <div class="nhsapp-timeline__content">
                <h3 class="nhsapp-timeline__header">
                Current status
                </h3>
        
                <p class="nhsapp-timeline__description">Additional information request</p>
                </div>
                </li>

            <!-- Item 9 -->
            <li class="nhsapp-timeline__item">
              <svg
              class="nhsapp-timeline__badge"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
              >
              <circle cx="14" cy="14" r="13" fill="#005EB8" />
              </svg>
              
            
            <div class="nhsapp-timeline__content">
            <h3 class="nhsapp-timeline__header">Completed step</h3>
            <p class="nhsapp-timeline__description">Specialist review</p> 
            </div> 
        </li> 

        <!-- Item 10 -->
        <li class="nhsapp-timeline__item">
          <svg
          class="nhsapp-timeline__badge"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          >
          <circle cx="14" cy="14" r="13" fill="#005EB8" />
          </svg>
            
            <div class="nhsapp-timeline__content">
            <h3 class="nhsapp-timeline__header">Completed step</h3>
            <p class="nhsapp-timeline__description">Specialist recommendation</p> 
            </div> 
        </li> 

        <!-- Item 11 -->
        <li class="nhsapp-timeline__item">
            <svg
            class="nhsapp-timeline__badge"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 28 28"
            >
            <circle cx="14" cy="14" r="13" fill="#005EB8" />
            </svg>
          
          <div class="nhsapp-timeline__content">
          <h3 class="nhsapp-timeline__header">Completed step</h3>
          <p class="nhsapp-timeline__description">Order perscription</p> 
          </div> 
      </li> 
    </ol>

      </div>
    </div>
    
{% endblock %}
    