{% extends "../layout/clch-app-layout.html" %}

{% set hub = "Messages" %}
{% set backLink = true %}
{% set pageHeading = "Messages" %}
{% set pageDescription = "You have 2 unread messages" %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ dynamicPageTitle({
      title: pageHeading,
      titleSecondary: true,
      description: pageDescription
    }) }}

    {% if data['messages'] > 0 %}
      {% set badge %}
        {{ nhsappBadgeLarge({
          count: data['messages'],
          label: 'notifications',
          classes: "nhsuk-u-margin-bottom-3"
        }) }}
      {% endset %}
    {% endif %}

    <!-- Filter -->
    <div style="display: flex; align-items: center;">
      <svg class="nhsapp-icon nhsapp-icon__filter" xmlns="http://www.w3.org/2000/svg"
           height="2rem" width="2rem" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="...filter icon path..." />
      </svg>
      <a style="margin-left: 10px; text-decoration: underline;">Filter</a>
    </div>

    <!-- Messages -->
    <ul class="nhsapp-cards nhsapp-cards--stacked">

      <!-- Message Card 1 -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container nhsuk-u-margin-left-6">
          <div class="nhsapp-card__content">
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Friday</p>
            <a href="message-1.html" class="nhsapp-card__link nhsuk-link--no-visited-state">
              <span class="nhsapp-badge-small nhsapp-badge-small--absolute">
                <span class="nhsapp-badge-small__indicator" style="background-color: red;" aria-hidden="true"></span>
                <span class="nhsuk-u-visually-hidden">Unread message</span>
              </span>
              CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST
              <span class="nhsuk-u-visually-hidden">received today at 1:02pm</span>
            </a>
            <p class="nhsuk-u-margin-top-2 nhsapp-u-truncate-two-lines">
              You have a new Brent Diabetes appointment. This is an in-person appointment. From: CLCH To: S-DrDr Viola
              Monday 7 April 2025 10:15am Wembley Centre for Health and Care View your Brent...
            </p>
          </div>
          <svg class="nhsapp-icon" xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path d="...arrow path..." />
          </svg>
        </div>
      </li>

      <!-- Message Card 2 -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container nhsuk-u-margin-left-6">
          <div class="nhsapp-card__content">
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Friday</p>
            <a href="message-2.html" class="nhsapp-card__link nhsuk-link--no-visited-state">
              <span class="nhsapp-badge-small nhsapp-badge-small--absolute">
                <span class="nhsapp-badge-small__indicator" style="background-color: red;" aria-hidden="true"></span>
                <span class="nhsuk-u-visually-hidden">Unread message</span>
              </span>
              CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST
              <span class="nhsuk-u-visually-hidden">received today at 1:02pm</span>
            </a>
            <p class="nhsuk-u-margin-top-2 nhsapp-u-truncate-two-lines nhsuk-u-secondary-text-color">
              You have a new appointment. This is an in-person appointment. From: CLCH To: S-DrDr Viola Brent
              Diabetes Tuesday 8 April 2025 12:30pm Wembley Centre for Health and Care View your...
            </p>
          </div>
          <svg class="nhsapp-icon" xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path d="...arrow path..." />
          </svg>
        </div>
      </li>

      <!-- Message Card 3 -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container nhsuk-u-margin-left-6">
          <div class="nhsapp-card__content">
            <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Friday</p>
            <a href="message-2.html" class="nhsapp-card__link nhsuk-link--no-visited-state">
              <span class="nhsapp-badge-small nhsapp-badge-small--absolute">
                <span class="nhsapp-badge-small__indicator" style="background-color: red;" aria-hidden="true"></span>
                <span class="nhsuk-u-visually-hidden">Unread message</span>
              </span>
              CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST
              <span class="nhsuk-u-visually-hidden">received today at 1:02pm</span>
            </a>
            <p class="nhsuk-u-margin-top-2 nhsapp-u-truncate-two-lines nhsuk-u-secondary-text-color">
              You have a new Community Medicine appointment. This is an in-person appointment. From: CLCH To: S-DrDr 
              Viola Brent Diabetes Friday 11 April 2025 9:00am Wembley Centre for Health and Care...
            </p>
          </div>
          <svg class="nhsapp-icon" xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path d="...arrow path..." />
          </svg>
        </div>
      </li>

      <!-- Add more cards as needed -->

    </ul>
  </div>
</div>
{% endblock %}
