{% extends 'acute/acute-layout.html' %}

{% set hub = "Messages" %}

{% set backLink = true %} 

{% set pageHeading = "Messages" %}

{% set pageDescription = "Message" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
            <title>Messsage: Northern General Hospital</title>
            <h1 class="nhsuk-heading-l">Northern General Hospital</h1>
          </div>
          <p class="nhsuk-u-margin-bottom-5 nhsuk-secondary-text-color" style="color: gray;">Sent 12 June at 9:40am</p>

          <!-- APPOINTMENT INFO -->
          <p class="nhsuk-u-margin-bottom-5">You have a questionnaire about your upcoming asthma appointment. </p>

          <p class="nhsuk-u-margin-bottom-5">Complete the questionnaire by Tuesday 8 July 2025</p>

          <p class="nhsuk-u-margin-bottom-5">Your answers will help Dr Kaya understand your condition 
            before your appointment.
          </p>

          <p class="nhsuk-u-margin-bottom-5">There are 3 questions.</p>

          <p class="nhsuk-u-margin-bottom-0" style="text-decoration: underline;">
            <a href="/acute/questionnaire/question-1.html">Complete the questionnaire</a></p>

          <hr>

          <p><a style="text-decoration: underline;">Flag message</a></p>


    </div>
  </div>
{% endblock %}
