{% extends 'clch-app-layout.html' %}

{% set hub = "Your health" %}

{% set backLink = true %} 

{% set pageHeading = "Review your request" %}
{% set pageDescription = "View and manage your upcoming and past hospital appointments." %}

{% block content %}

    
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsapp-section-heading">
          {% include "components/provider-banner/include.html" %}
        </div>
        <h1 class="nhsuk-heading-l">Review your request</h1>

        <!-- Summary list component - Appointment Info. -->
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date</dt>
            <dd class="nhsuk-summary-list__value">Monday 7 April 2025</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Time</dt>
            <dd class="nhsuk-summary-list__value">10:15am</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Appointment type</dt>
            <dd class="nhsuk-summary-list__value">Community medicine</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Location</dt>
            <dd class="nhsuk-summary-list__value">
              <p>Wembley Centre for Health and Care</p>
              <p>116 Chaplin Road, Wembley, HA0 4UZ</p>
            </dd>
          </div>
        </dl>

        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Reason</h3>
        <p>I cannot attend at the scheduled time.</p>

        <!-- Confirmation Checkbox -->
        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Confirm</h3>
        <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="contact"
              name="contact"
              type="checkbox"
              value="email"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
              I understand that I am asking to cancel my appointment.
            </label>
          </div>

        <!-- BUTTON COMPONENT -->
        <a
          class="nhsuk-button nhsapp-button"
          data-module="nhsuk-button"
          type="submit"
          href="request-submitted.html"
          style="margin-top: 25px;"
        >
          Request cancellation
        </a>

         <!-- Get help with appointment -->
         <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Get help with this task</h3>
         <p class="nhsuk-u-margin-bottom-5">Contact the booking team on <a style="text-decoration: underline;">0XXXX XXXXXX</a></p>
        
         <!-- FOOTER COMPONENT-->
    <footer role="contentinfo">
        <div class="nhsuk-footer-container">
          <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <div class="nhsuk-footer">
              <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Terms of use</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Cookie policy</a>
                </li>
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      </div>
    </div>
    {% endblock %}
    